---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Content } from "../content/pages/about.md";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <article>
      <Content />
    </article>
  </main>
</Layout>
