---
import { getCollection } from "astro:content";
import Accordion from "../components/Accordion.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";

const support = (await getCollection("support")).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <article>
    <h2>Support</h2>

    <div class="flex flex-col gap-4">
      {
        support.map(async (support) => {
          const { Content } = await support.render();
          return (
            <Accordion title={support.data.title}>
              <Content />
            </Accordion>
          );
        })
      }
    </div>
  </article>
</Layout>

<script>
  import "../scripts/accordion.js";
</script>
