---
import { getCollection } from "astro:content";
import Accordion from "../components/Accordion.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
const collection = await getCollection("support");
const support = collection.sort((a, b) => {
  const aNum = parseInt(a.id.split("-")[0]);
  const bNum = parseInt(b.id.split("-")[0]);
  return aNum - bNum;
});
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <article>
    <h2>Support</h2>
    As monks, we try to keep our needs minimal and be easy to support, but there
    are things that are useful for the maintenance of the body. Monks aren’t allowed
    to use money, so they depend on having their basic requisites offered to them
    directly.

    <div class="flex flex-col gap-4">
      {
        support.map(async (support) => {
          const { Content } = await support.render();
          return (
            <Accordion title={support.data.title}>
              <Content />
            </Accordion>
          );
        })
      }
    </div>
  </article>
</Layout>

<script>
  import "../scripts/accordion.js";
</script>
