---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";

import { Content } from "../content/updates/updates.md";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <article>
      <Content />
    </article>
  </main>
</Layout>
