---
import ThemeToggle from "./ThemeToggle.astro";
import { getEntry } from "astro:content";

const nav = await getEntry("navigation", "main");
const links = nav?.data.links ?? [];
---

<header
  class="mb-3 flex items-center justify-between overflow-y-auto pb-3"
  transition:name="header"
>
  <nav class="flex items-center gap-4">
    {links.map((link) => <a href={link.href}>{link.label}</a>)}
  </nav>
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
