---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="mb-3 flex items-center justify-between overflow-y-auto pb-3"
  transition:name="header"
>
  <nav class="flex items-center gap-4">
    <a href="/"> home </a>
    <a href="/dhamma"> dhamma </a>
    <a href="/updates"> updates </a>
    <a href="/translations"> translations </a>
    <a href="/support"> support </a>
    <a href="/faq"> faq </a>
    <a href="/about"> about </a>
  </nav>
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
