---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("reflection");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"reflection">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main>
    <div class="flex items-start justify-between">
      <div>
        <h1 class="mb-2 text-xl font-medium">
          {post.data.title}
        </h1>
      </div>
      <a
        href={`/pdfs/${post.slug}.pdf`}
        class="rounded bg-blue-800 px-2 py-1 text-sm font-semibold text-white underline"
      >
        PDF Version
      </a>
    </div>

    <article>
      <Content />
    </article>
  </main>
</Layout>