---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("translation");
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <article>
      <h2>Translations</h2>
    </article>
    <ul class="flex flex-col gap-1.5">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/translations/${post.slug}`}
              class="group flex justify-between gap-3"
            >
              <span class="group-hover:underline">{post.data.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
